<div class='hero-a'>
  <div class='hero-a__skew'>
    <div class='hero-a__wrapper'>

      <div class='hero-a__content'>
        <h1 class='hero-a__heading'>{{ title }}</h1>

        <div class='hero-a__copy'>
          {{ copy }}
        </div>

        <div class='hero-a__buttons'>
          <a href='{{ primaryLink }}'
             class='hero-a__button hero-a__button--cta'>{{ primaryLabel }}</a>
          <a href='{{ secondaryLink }}' class='hero-a__button'>{{ secondaryLabel }}</a>
        </div>
      </div>

      <div class='hero-a__illustration'>
        {{{ illustration }}}
      </div>

      <img class='hero-a__texture'
           src='./hero-a-texture.svg' />

    </div>
  </div>
</div>

